{% extends 'base.html.twig' %}

{% block title %}New Note{% endblock %}

{% block body %}
    <h1>Create new Note with Live component</h1>

    <twig:LiveNoteForm />

    <a href="{{ path('app_note_index') }}">back to list</a>
{% endblock %}
